#freecss{
    cursor: pointer; border-radius: 10px; padding-left: 5px; background-color: rgb(73, 170, 255); margin-bottom: 5%; 
}

#freecss:hover{
    background-color:  rgb(0, 91, 171);
}
#unfreecss{
    cursor: pointer; border-radius: 10px; padding-left: 5px; background-color: rgb(73, 170, 255); margin-bottom: 5%;
}
#unfreecss:hover{
    background-color:  rgb(0, 91, 171);
}
#unvailablecss{
    margin-bottom: 5px; cursor: pointer; border-radius: 10px; padding-left: 5px; background-color: rgb(73, 170, 255);
}
#unvailablecss:hover{
    background-color:  rgb(0, 91, 171);
}
#area_s1{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s1::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s1:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}

#status_free{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(51, 255, 0, 1);
}
#status_unfree{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 1);
}
#status_unvailable{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgba(250, 255, 0, 1);
}

#area_s2{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s2::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s2:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}

#area_s3{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s3::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s3:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}

#area_s4{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s4::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s4:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}

#area_s5{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s5::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s5:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}

#area_s6{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s6::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s6:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}


#area_s7{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s7::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s7:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}


#area_s8{
    display: flex; align-items: center; justify-content: center; width: 92px; height: 25px; background-color: rgb(162, 250, 255); border-radius: 20px;
}
#area_s8::after{
    margin-top: 3px;
    content: ' \25BE';
}
#area_s8:hover{
    color:white;
    background-color:  rgb(75, 164, 242);
}